<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/users/reg" method="post">
    <input type="text" name="u_num">
    <input type="text" name="u_pass">
    <input type="submit" value="提交">
  </form>
  </body>
</html>
